namespace:
  create: true
  name: qualys

image:
  repository: nelssec/qualys-agent-bootstrapper
  tag: v2.0.0
  pullPolicy: IfNotPresent

credentials:
  activationId: ""
  customerId: ""
  existingSecret: ""

config:
  serverUri: ""
  logLevel: "3"

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 512Mi

nodeSelector:
  kubernetes.io/os: linux

tolerations:
  - operator: Exists
    effect: NoSchedule
  - operator: Exists
    effect: NoExecute

affinity: {}

priorityClassName: "system-node-critical"

networkPolicy:
  enabled: true

serviceAccount:
  create: true
  name: ""
  annotations: {}

updateStrategy:
  type: RollingUpdate
  rollingUpdate:
    maxUnavailable: 25%

nameOverride: ""
fullnameOverride: ""
