apiVersion: apps/v1
kind: DaemonSet
metadata:
  namespace: {{ .Values.namespace.name }}
  name: {{ include "qualys-ca.fullname" . }}
  labels:
    {{- include "qualys-ca.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "qualys-ca.selectorLabels" . | nindent 6 }}
  updateStrategy:
    {{- toYaml .Values.updateStrategy | nindent 4 }}
  template:
    metadata:
  namespace: {{ .Values.namespace.name }}
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "qualys-ca.selectorLabels" . | nindent 8 }}
    spec:
      hostPID: {{ .Values.hostPID }}
      restartPolicy: Always
      serviceAccountName: {{ include "qualys-ca.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: ACTIVATIONID
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.secrets.existingSecret }}
                  key: activationId
            - name: CUSTOMERID
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.secrets.existingSecret }}
                  key: customerId
          envFrom:
            - configMapRef:
                name: {{ include "qualys-ca.fullname" . }}-config
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          {{- if .Values.healthChecks.enabled }}
          livenessProbe:
            {{- toYaml .Values.healthChecks.liveness | nindent 12 }}
          readinessProbe:
            {{- toYaml .Values.healthChecks.readiness | nindent 12 }}
          {{- end }}
          volumeMounts:
            {{- toYaml .Values.volumeMounts | nindent 12 }}
      volumes:
        {{- toYaml .Values.volumes | nindent 8 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
