{{- if .Values.networkPolicy.enabled }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ include "qualys-ca.fullname" . }}
  namespace: {{ .Values.namespace.name }}
  labels:
    {{- include "qualys-ca.labels" . | nindent 4 }}
spec:
  podSelector:
    matchLabels:
      {{- include "qualys-ca.selectorLabels" . | nindent 6 }}
  policyTypes:
  - Egress
  - Ingress
  egress:
  - ports:
    - protocol: TCP
      port: 443
  - ports:
    - protocol: UDP
      port: 53
    - protocol: TCP
      port: 53
  ingress: []
{{- end }}
