{{- if not .Values.credentials.existingSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "qualys-ca.fullname" . }}-credentials
  namespace: {{ .Values.namespace.name }}
  labels:
    {{- include "qualys-ca.labels" . | nindent 4 }}
type: Opaque
immutable: true
data:
  ACTIVATION_ID: {{ .Values.credentials.activationId | b64enc | quote }}
  CUSTOMER_ID: {{ .Values.credentials.customerId | b64enc | quote }}
{{- end }}
